@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.home-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: ;
  align-items: center;
  background: linear-gradient(to bottom, #fbc2eb, #a6c0fe);
}

.animation{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text-container{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .animation{
    flex-direction: row;
  }
}


.main-heading:hover{
    font-family:"Bree Serif";
    color: chocolate;
    transform: scale(1.02);
    cursor: pointer;


}
.image-letter{
  border-radius: 100px;
  width: 100%;
}
.line-container {
  display: flex;
  justify-content: center;
  background-color: dodgerblue;
  padding: 10px;
  
  border-radius: 10px;
  
  margin-bottom: 10px; /* Adjust spacing between lines */
}

.line-container:hover{
  padding: 20px;

}
.letter-container {
  display: flex;
  justify-content: center;
  color: white;
  width: 35px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 50px;
  height: 35px;
  margin: 0 2px; /* Adjust space between letters */
}

.letter-container:hover{
    
    color: black;
    background-color: black;
    transform: scale(1.04);
    padding: 10px;
}

@media screen and (min-width: 380px) {
  .letter-container {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 576px) {
  .letter-container {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 768px) {
  .letter-container {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 992px) {
  .letter-container {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .letter-container {
    width: 100px;
    height: 100px;
  }
}

.letter-container img {
  width: 30px; /* Adjust size as needed */
  height: auto;
}

@media screen and (min-width: 576px) {
  .letter-container img {
    width: 35px;
  }
}

@media screen and (min-width: 768px) {
  .letter-container img {
    width: 50px;
  }
}

@media screen and (min-width: 992px) {
  .letter-container img {
    width: 60px;
  }
}