.balloons-container {
    position: relative;
    height: 150vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background:linear-gradient(to right,skyblue,dodgerblue);
  }

  .balloon {
    position: absolute;
    bottom: -150px; /* Start balloons below the viewport */
    width: 200px;
    border-radius: 10px;
    height: auto;
    background-size: cover;
    animation: float 3s ease-in infinite;
    opacity: 1;
  }

  .balloon1 { left: 5%; animation-delay: 0s; }
  .balloon2 { left: 25%; animation-delay: 1s; }
  .balloon3 { left: 35%; animation-delay: 2s; }
  .balloon4 { left: 45%; animation-delay: 3s; }
  .balloon5 { left: 55%; animation-delay: 4s; }
  .balloon6 { left: 65%; animation-delay: 2s; }
  .balloon7 { left: 75%; animation-delay: 1s; }
  .balloon8 { left: 85%; animation-delay: 2s; }
  
  

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-120vh); /* Move balloons above the viewport */
    }
  }
