.birthday{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(to right,skyblue, dodgerblue);
    height: 100vh;
}

.animation-container {
    width: 800px;
    height: 400px;
    margin-top: 20px;
}