.message-container{
    
    width: 100%;
    
    margin:0;
    padding: 20px;
    background-color: black;
}

.impact-image{
    width:90%;
    height:80vh;
    border-radius: 10px;

}
.indian-flag{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.messages{
    margin: 20px;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to right ,dodgerblue,skyblue);
    display: flex;
    flex-direction: column;
}

.message-1{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 80%;
    margin: 20px;
    
}

.message-1:hover{
    background-color: #33FF33 ;
    font-family: "Bree Serif";
    color:navy;
}


@media screen and (min-width: 768px){
    .messages{
        flex-direction: row;
    }
}


.message-summary {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    margin-bottom: 10px;
}