.message-container{
    
    width: 100%;
    
    margin:0;
    padding: 20px;
    background-color: lightgrey;
}

.impact-image{
    width:40%;
    height:80vh;
    border-radius: 10px;

}
.indian-flag{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.messages{
    margin: 20px;
    width: 100%;
    height: 80vh;
    padding: auto;
    border-radius: 10px;
    background: linear-gradient(to right ,dodgerblue,skyblue);
    display: flex;
    flex-direction: column;
}

.message-1{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.message-1:hover{
    background-color: greenyellow;
    font-family: "Bree Serif";
    color:navy;
}


@media screen and (min-width: 768px){
    .messages{
        flex-direction: row;
    }
}